header .song_side::before {
  background: url("../img/Ikura/Ikura.png");
  content: "";
  position: absolute;
  background-position: right;
  width: 100%;
  height: 300px;
  z-index: -1;
  /* margin-left: 144px; */
  /*  background-repeat: no-repeat; */
  background-attachment: fixed;  
  background-size: cover; 
}
