header .left_bx1, .right_bx1 {
    position: relative;
    width: 65%;
    height: 100%;
    /* border: 1px solid #fff; */
    background: #0b1320;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .left_bx1 {
    width: 35%;
    background-color: #fff;
    box-shadow: 5px 0px 2px #090f1f;
}
header .left_bx1 .content {
    width: 75%;
    height: auto;
    /* border: 1px solid #000; */
    padding: 25px 20px;
    background: #fff;
}
header .left_bx1 .content .card{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
header .left_bx1 .content .card label{
    font-size: 14px;
}
header .left_bx1 .content .card input{
    width: 100%;
    padding: 6px 10px;
    border: 1px solid rgb(154, 154, 154);
    background: rgb(238, 238, 238);
    margin-top: 5px;
}
header .left_bx1 .content .submit{
    margin-top: 30px;
    padding: 8px 20px;
    color: #fff;
    background: #111727;
    width: 100%;
    cursor: pointer;
}
header .left_bx1 .content .check{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
header .left_bx1 .content .check span{
    margin-left: 5px;
    font-size: 13px;
}
header .left_bx1 .content p{
    margin-top: 90px;
    text-align: center;
    font-size: 13px;
}
header .left_bx1 .content p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header .right_bx1 h3 {
    position: absolute;
    background: #5adae5;
    color: #000;
    right: 0px;
    bottom: 20px;
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 5px 0px 0px 5px;
}